* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

h5 {
  font-size: 1rem;
  font-weight: 200;
}

h6 {
  color: #d8d8d8;
}

button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
}

button:hover {
  background-color: coral;
}

.navbar {
  font-size: 16px;
  padding-top: 1.8rem !important;
  padding-bottom: 1.8rem !important;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 992px) {
  .navbar-nav {
    margin-left: 50%;
  }
}

.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: #000;
  transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active .navbar i:hover {
  color: coral;
}

.navbar i {
  font-size: 1.2rem;
  padding: 0 0.7px;
  transition: 0.4s ease;
  cursor: pointer;
  margin-left: 5px;
  color: #000;
}

@media only screen and (max-width: 600px) {
  .nav-buttons {
    margin: 5px;
  }

  .nav-buttons ul {
    margin: 1rem;
  }

  .nav-buttons ul .fas {
    margin: 15px 5px 5px 15px;
  }
}

#home {
  background-image: url("images/back.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#home span {
  color: coral;
}

#featured .img-fluid {
  height: 130px;
}

#brand {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 100%;
  /* height: 150px; */
  /* max-height: fit-content; */
}

#new .one img {
  width: 100%;
  /* height: 100%; */
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#new .one {
  position: relative;
}

#new .one .details {
  position: absolute;
  top: 0;
  left: 0;
  color: burlywood;
  font-weight: bold;
  transition: 0.4s ease;
  opacity: 0.5;
  background-color: rgb(1, 1, 1);
  width: 100%;
  height: 100%;
}

#new .one .details:hover {
  background-color: cornsilk;
}

#new .row .one .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product {
  cursor: pointer;
  margin-bottom: 2rem;
}

.product img {
  transition: 0.3s all;
}

.product:hover img {
  opacity: 0.4;
}

.product .buy-btn {
  background-color: #fb774b;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.3s all;
  color: #fff;
}

.product:hover .buy-btn {
  transform: translateY(0px);
  opacity: 1;
}

hr {
  width: 30px;
  height: 3px !important;
  opacity: 1 !important;
  color: #fb774b;
  background-color: #fb774b;
}

.star {
  padding: 10px 0;
}

.star i {
  font-size: 0.9rem;
  color: goldenrod;
}

#banner {
  background-image: url("images/banner.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: 80px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#banner h1 {
  color: coral;
}

#banner button {
  background-color: #fb774b;
}

#banner button:hover {
  background-color: #1d1d1d;
}

footer {
  background-color: #222222;
}

footer h5 {
  color: #d8d8d8;
  font-weight: 200;
  font-size: 1.2rem;
}

footer li {
  padding-bottom: 4px;
}

footer li a {
  font-size: 0.8rem;
  color: #999;
  text-decoration: none;
}

footer li a:hover {
  color: #d8d8d8;
}

footer .copyright a {
  color: #000;
  height: 40px;
  width: 40px;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  transition: 0.3s ease;
  margin: 0 3px;
}

footer .copyright a:hover {
  color: #fff;
  background-color: #fb774b;
}

footer p {
  color: #fff;
}
.social-icons {
  text-align: right;
}

.logo {
  width: 80px;
  height: 50px;
}

.footer-featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-featured ul {
  margin: 0;
  padding: 0;
}

.footer-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

/* Single Product */
.small-img-group {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.single-product {
  margin-top: 115px;
}

.small-img-col {
  cursor: pointer;
  flex-basis: 25%;
  padding-left: 4px;
  padding-right: 4px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.single-product input:focus {
  outline: none;
}

.single-product .buy-btn {
  background-color: #fb774b;
  opacity: 1;
  transition: 0.4s all;
}

.single-product .buy-btn:hover {
  background-color: #222222;
}

#related-products .img-fluid {
  height: 130px;
}

#mainImg {
  height: 500px;
}

.single-product .row div {
  height: auto;
}

/* Cart */

.cart table {
  width: 100%;
  border-collapse: collapse;
}

.cart .product-info {
  display: flex;
  flex-wrap: wrap;
}

.cart th {
  text-align: left;
  padding: 5px 10px;
  color: #fff;
  background-color: #fb774b;
}

.cart td {
  padding: 10px 10px;
}

.cart td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.cart td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

.cart td a {
  color: #fb774b;
}

.cart .remove-btn {
  color: #fb774b;
  text-decoration: none;
  font-size: 14px;
  background-color: #fff;
  border: none;
  width: 100%;
  text-align: left;
}

.cart .edit-btn {
  color: #fb774b;
  text-decoration: none;
  font-size: 15px;
  background-color: #fff;
  border: none;
}

.cart .product-info p {
  margin: 3px;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
}

.cart-total table {
  width: 100%;
  max-width: 500px;
  border-top: 3px solid #fb774b;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.checkout-container {
  display: flex;
  justify-content: flex-end;
}

.checkout-btn {
  background-color: #fb774b;
  color: #fff;
}

/* Login */

#login-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #fb774b;
}

#login-form input {
  width: 50%;
  margin: 5px auto;
}

#login-form #login-btn {
  background-color: #fb774b;
  color: #fff;
}

#login-form #register-url {
  color: #fb774b;
}

/* Registration */
#register-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #fb774b;
}

#register-form input {
  width: 50%;
  margin: 5px auto;
}

#register-form #register-btn {
  background-color: #fb774b;
  color: #fff;
}

#register-form #login-url {
  color: #fb774b;
}

/* Account */
#account-form {
  width: 50%;
  margin: 35px auto;
  text-align: center;
  padding: 20px;
}

#account-form input {
  margin: 5px auto;
}

#account-form #change-pass-btn {
  color: #fff;
  background-color: #fb774b;
}

.account-info #orders-btn,
#logout-btn {
  color: #fb774b;
  text-decoration: none;
}

/* Orders */
.orders table {
  width: 100%;
  border-collapse: collapse;
}

.orders .product-info {
  display: flex;
  flex-wrap: wrap;
}

.orders th {
  padding: 5px 20px;
  color: #fff;
  background-color: #fb774b;
}

.orders td {
  padding: 10px 20px;
}

.orders td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.orders .order-details-btn {
  color: #fff;
  background-color: #fb774b;
}

/* Checkout */
#checkout-form .checkout-small-element {
  display: inline-block;
  width: 48%;
  margin: 10px auto;
}

#checkout-form .checkout-large-element {
  width: 96.4%;
}

#checkout-form .checkout-btn-container {
  margin: 10px;
  text-align: right;
  margin-right: 40px;
}

#checkout-form #checkout-btn {
  color: #fff;
  background-color: #fb774b;
}

/* Contact */

#contact span {
  color: #fb774b;
}

.alert-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 9999;
}
.button-remove {
  background-color: #40c0f0;
  width: 1.2rem;
}

.button-add {
  background-color: #f04040;
  width: 1.2rem;
  border-radius: 122cap;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
  background-color: #e0e0e0;
  position: sticky;
  padding: 1rem;
  margin: 2.5rem;
  border-radius: 1.5rem;
}
.text-right {
  text-align: right;
}
.cart-div {
  margin-top: 4%;
}
.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}
